@page "/hoso"
@using UehInternFrontend.Components
@using System.Net.Http
@using System.Net.Http.Headers
@using System.Net.Http.Json
@using Newtonsoft.Json

@inject IJSRuntime JS
@inject HttpClient Http
@inject IConfiguration Configuration
<PageTitle>Hồ Sơ</PageTitle>

<CheckUserComponent CheckRole="sinhvien">
    <ItemContent>

    <div class="col-span-2">
        <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2  sm:p-6">
            <h3 class="mb-4 text-xl font-semibold">Thông tin cá nhân</h3>
            <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3">
                    <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900">
                        Mã sinh viên
                    </label>
                    <p class="shadow-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5">
                        @sinhvien.mssv
                    </p>
                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900">
                        Họ tên
                    </label>
                    <p class="shadow-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5">
                       @sinhvien.ho  @sinhvien.ten
                    </p>
                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="birthday" class="block mb-2 text-sm font-medium text-gray-900">
                        Lớp
                    </label>
                    <p class="shadow-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5">
                        @sinhvien.thuoclop

                    </p>
                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="birthday" class="block mb-2 text-sm font-medium text-gray-900">
                        Khoá
                    </label>
                    <p class="shadow-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5">
                        @sinhvien.khoagoc
                    </p>
                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="country" class="block mb-2 text-sm font-medium text-gray-900">
                        Tên học phần
                    </label>
                    <p class="shadow-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5">
                        @sinhvien.tenhp
                    </p>
                </div>
               
                <div class="col-span-6 sm:col-span-3">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">
                        Thuộc khoa
                    </label>
                    <p class="shadow-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5">
                        @khoa.tenkhoa
                    </p>
                </div>

            </div>
        </div>

        <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2  sm:p-6">
            <h3 class="mb-4 text-xl font-semibold">Thay đổi thông tin liên lạc</h3>
            <form action="#">
                <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-6 sm:col-span-3">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">
                            Email
                        </label>
                        <input type="email" name="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-teal-600 focus:border-teal-600 block w-full py-2.5 px-4" placeholder="name@gmail.com" required>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">
                            Số điện thoại
                        </label>
                        <input type="text" name="phone" id="phone" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-teal-600 focus:border-teal-600 block w-full py-2.5 px-4" placeholder="0923456789" required>
                    </div>

                    <div class="col-span-6 sm:col-full">
                        <button class="text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:ring-teal-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">
                            Lưu thay đổi
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    </ItemContent>
</CheckUserComponent>

@code {
    private SinhvienModel? sinhvien = new SinhvienModel();
    private KhoaModel? khoa = new KhoaModel();


    private string? mssv = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            mssv = await JS.InvokeAsync<string>("getUserData", "Code");
            await RenderDatas();

            StateHasChanged();
        }
    }


    private async Task RenderDatas()
    {
        SinhvienModel result = await GetSinhVien(mssv);
        KhoaModel resultKhoa = await GetSinhVienByKhoa(mssv);
        if (result != null && resultKhoa != null)
        {
            khoa = resultKhoa;
            sinhvien = result;
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "Sinh viên not found.");
        }
    }
    private async Task<KhoaModel> GetSinhVienByKhoa(string mssv)
    {
       var response = await Http.GetAsync($"https://localhost:7000/api/Sinhvien/khoa/{mssv}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var uploadModel = JsonConvert.DeserializeObject<KhoaModel>(content);
            return uploadModel;
        }
        else
        {
            Console.WriteLine($"Error retrieving sinh viên: {response.StatusCode}");
            return null;
        }
    }

    private async Task<SinhvienModel> GetSinhVien(string mssv)
    {
       var response = await Http.GetAsync($"https://localhost:7000/api/Sinhvien/{mssv}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var uploadModel = JsonConvert.DeserializeObject<SinhvienModel>(content);
            return uploadModel;
        }
        else
        {
            Console.WriteLine($"Error retrieving sinh viên: {response.StatusCode}");
            return null;
        }
    }


}
