@page "/nopfile"

@using UehInternFrontend.Components
@using UehInternFrontend
@using System.Net.Http.Headers
@using Newtonsoft.Json

@inject IJSRuntime JS
@inject HttpClient Http
@inject IConfiguration Configuration

@code {
    public string? api;
    protected override void OnInitialized()
    {
        api = Configuration["apiBackend"];
    }

    private long maxFileSize = long.MaxValue;
    private int maxAllowedFiles = int.MaxValue;
    private List<string> fileNames = new();
    private List<UploadModel> UploadModels = new();

    private List<UploadModel> files = new List<UploadModel>();

    private string? mssv = "";
    protected string? Code = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetData();

            mssv = Code;
            await RenderDatas();

            StateHasChanged();
        }
    }

    private async Task GetData()
    {
        string token = await JS.InvokeAsync<string>("userInfo");
        string json = AES.DecryptData(token);

        if (!string.IsNullOrEmpty(json))
        {
            User? user = JsonConvert.DeserializeObject<User>(json);
            Code = user.Code;
            StateHasChanged();
        }
    }

    private async Task RenderDatas()
    {
        var result = await GetFiles(mssv);
        if (result != null)
        {
            files = result;
            StateHasChanged();
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "File not found.");
        }

    }

    private async Task<List<UploadModel>> GetFiles(string mssv)
    {
        var response = await Http.GetAsync(api + $"File?mssv={mssv}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var listfiles = JsonConvert.DeserializeObject<List<UploadModel>>(content);
            return listfiles;
        }
        else
        {
            Console.WriteLine($"Error retrieving files: {response.StatusCode}");
            return null;
        }

    }
    private string loai = "";


    private async Task LoaiHinhXacNhan()
    {
        loai = "Giấy đăng ký học kỳ doang nghiệp";
    }

    private async Task LoaiHinhBaoCaoTuan()
    {
        loai ="Báo cáo hàng tuần";
       
    }

    private async Task LoaiHinhBaoCaoCuoiKi()
    {
        loai = "Báo cáo cuối kì";

    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        var files = e.GetMultipleFiles(maxAllowedFiles);

        using var content = new MultipartFormDataContent();

        foreach (var file in files)
        {
            var fileContent = new StreamContent(file.OpenReadStream(maxFileSize));
            fileContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);

            fileNames.Add(file.Name);

            content.Add(fileContent, "files", file.Name);
        }

        var response = await Http.PostAsync(api + $"File/PostFile?mssv={mssv}&loai={loai}", content);

        if (response.IsSuccessStatusCode)
        {
            await RenderDatas();
            await JS.InvokeVoidAsync("alert", "Upload file thành công");
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "Upload file thất bại");
        }

    }

    private async Task DownloadFile(string storedFileName, string originalFileName, string mssv)
    {
        var response = await Http.GetAsync(api + $"File/{storedFileName}/{mssv}");
        if (!response.IsSuccessStatusCode)
        {
            await JS.InvokeVoidAsync("alert", "File not found.");
        }
        else
        {
            var fileStream = await response.Content.ReadAsStreamAsync();
            using var streamRef = new DotNetStreamReference(stream: fileStream);
            await JS.InvokeVoidAsync("downloadFileFromStream", originalFileName, streamRef);
        }
    }

     private async Task DeleteFile(string filename)
    {
        var response = await Http.DeleteAsync(api + $"File/DeleteFile?fileName={filename}");

        if (response.IsSuccessStatusCode)
        {
            await RenderDatas();
        }
        else
        {
            Console.WriteLine("Đã xảy ra lỗi khi gửi thông tin!");
        }
    }
}

<PageTitle>Nộp file</PageTitle>

<CheckUserComponent CheckRole="sinhvien">
    <ItemContent>

    <div class="col-span-2">
        <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2  sm:p-6">

            <h3 class="mb-4 text-xl font-semibold">Đăng kí học kì doanh nghiệp</h3>
            <div class="flex flex-col items-start pb-4 space-x-2">


                <button @onclick ="() =>LoaiHinhXacNhan()"
                    class="cursor-pointer inline-flex items-center justify-center w-1/2 px-3 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-teal-300 sm:w-auto">
                        <InputFile OnChange="@LoadFiles" class="btn-primary " />

                </button>

            </div>

            <table class="min-w-full divide-y divide-gray-200 table-fixed">
                    <thead class="bg-gray-100">
                        <tr>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                File
                            </th>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                Giờ nộp
                            </th>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                Hành động
                            </th>
                        </tr>
                    </thead>

                <tbody class="bg-white divide-y divide-gray-200">
                @if (files.Count > 0)
                {
                @foreach (var file in files)
                    {
                                if (file.FileType == "Giấy đăng ký học kỳ doang nghiệp")
                                {
                                    <tr class="hover:bg-gray-100">
                                        <td class="flex items-center p-4 mr-12 space-x-6 whitespace-nowrap">
                                            <div class="text-sm font-normal text-gray-500">
                                                <div class="text-base font-semibold text-gray-900">@file.FileName</div>
                                            </div>
                                        </td>
                                        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                            @file.DateTime
                                        </td>
                                        <td class="p-4 space-x-2 whitespace-nowrap">
                                            <button @onclick="@(() => DownloadFile(file.StoredFileName, file.FileName, mssv))"
                                        type="button" data-modal-toggle="edit-user-modal"
                                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:ring-teal-300">
                                                <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                                                    <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path>
                                                </svg>
                                                Tải xuống
                                            </button>

                                            <button @onclick="() => DeleteFile(file.StoredFileName)" type=" button" data-modal-toggle="delete-user-modal"
                                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-600 rounded-lg hover:bg-orange-800 focus:ring-4 focus:ring-orange-300">
                                                <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                                                </svg>
                                                Xóa file
                                            </button>
                                        </td>
                                    </tr>
                                }
                    }
                    } else {
                        <tr class="">
                            <td class="flex items-center p-4 mr-12 space-x-1 whitespace-nowrap">
                                <div class="text-sm font-normal text-gray-500">
                                    <div class="text-base text-gray-900">Chưa có file</div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>

    </div>

    <div class="col-span-2">
        <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2  sm:p-6">

            <h3 class="mb-4 text-xl font-semibold">Nộp báo cáo hàng tuần</h3>
            <div class="flex flex-col items-start pb-4 space-x-2">



                <button @onclick="() => LoaiHinhBaoCaoTuan()"
                        class="cursor-pointer inline-flex items-center justify-center w-1/2 px-3 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-teal-300 sm:w-auto">
                    <InputFile OnChange="@LoadFiles" class="btn-primary" />
                </button>


            </div>

            <table class="min-w-full divide-y divide-gray-200 table-fixed">
                    <thead class="bg-gray-100">
                        <tr>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                File
                            </th>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                Giờ nộp
                            </th>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                Hành động
                            </th>
                        </tr>
                    </thead>

                <tbody class="bg-white divide-y divide-gray-200">
                @if (files.Count > 0)
                {
                @foreach (var file in files)
                    {
                                if (file.FileType == "Báo cáo hàng tuần")
                                {
                                    <tr class="hover:bg-gray-100">
                                        <td class="flex items-center p-4 mr-12 space-x-6 whitespace-nowrap">
                                            <div class="text-sm font-normal text-gray-500">
                                                <div class="text-base font-semibold text-gray-900">@file.FileName</div>
                                            </div>
                                        </td>
                                        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                            @file.DateTime
                                        </td>
                                        <td class="p-4 space-x-2 whitespace-nowrap">
                                            <button @onclick="@(() => DownloadFile(file.StoredFileName, file.FileName, mssv))"
                                        type="button" data-modal-toggle="edit-user-modal"
                                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:ring-teal-300">
                                                <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                                                    <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path>
                                                </svg>
                                                Tải xuống
                                            </button>

                                            <button @onclick="() => DeleteFile(file.StoredFileName)" type=" button" data-modal-toggle="delete-user-modal"
                                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-600 rounded-lg hover:bg-orange-800 focus:ring-4 focus:ring-orange-300">
                                                <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                                                </svg>
                                                Xóa file
                                            </button>
                                        </td>
                                    </tr>
                                }
                    }
                    } else {
                        <tr class="">
                            <td class="flex items-center p-4 mr-12 space-x-1 whitespace-nowrap">
                                <div class="text-sm font-normal text-gray-500">
                                    <div class="text-base text-gray-900">Chưa có file</div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>

    </div>

    <div class="col-span-2">
        <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2  sm:p-6">

            <h3 class="mb-4 text-xl font-semibold">Nộp báo cáo cuối kì</h3>
            <div class="flex flex-col items-start pb-4 space-x-2">



                    <button @onclick="() =>LoaiHinhBaoCaoCuoiKi()"
                            class="cursor-pointer inline-flex items-center justify-center w-1/2 px-3 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-teal-300 sm:w-auto">
                        <InputFile OnChange="@LoadFiles" class="btn-primary " />

                    </button>

            </div>

            <table class="min-w-full divide-y divide-gray-200 table-fixed">
                    <thead class="bg-gray-100">
                        <tr>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                File
                            </th>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                Giờ nộp
                            </th>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                Hành động
                            </th>
                        </tr>
                    </thead>

                <tbody class="bg-white divide-y divide-gray-200">
                @if (files.Count > 0)
                {
                @foreach (var file in files)
                    {
                       if(file.FileType == "Báo cáo cuối kì")
                       {
                                <tr class="hover:bg-gray-100">
                                <td class="flex items-center p-4 mr-12 space-x-6 whitespace-nowrap">
                                    <div class="text-sm font-normal text-gray-500">
                                        <div class="text-base font-semibold text-gray-900">@file.FileName</div>
                                    </div>
                                </td>
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    @file.DateTime
                                </td>
                                <td class="p-4 space-x-2 whitespace-nowrap">
                                    <button @onclick="@(() => DownloadFile(file.StoredFileName, file.FileName, mssv))"
                                            type="button" data-modal-toggle="edit-user-modal"
                                            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:ring-teal-300">
                                        <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                                            <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path>
                                        </svg>
                                        Tải xuống
                                    </button>

                                    <button @onclick ="() => DeleteFile(file.StoredFileName)" type="button" data-modal-toggle="delete-user-modal"
                                            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-600 rounded-lg hover:bg-orange-800 focus:ring-4 focus:ring-orange-300">
                                        <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                                        </svg>
                                        Xóa file
                                    </button>
                                </td>
                            </tr>
                       }
                    }
                    } else {
                        <tr class="">
                            <td class="flex items-center p-4 mr-12 space-x-1 whitespace-nowrap">
                                <div class="text-sm font-normal text-gray-500">
                                    <div class="text-base text-gray-900">Chưa có file</div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>

    </div>

    </ItemContent>
</CheckUserComponent>
