@page "/diem/{idSv}"

@code {
    [Parameter] public string idSv { get; set; }

    public string? api;
    private string? madot = "";
    private User? currentUser;
    private SinhvienModel? sinhvien = new SinhvienModel();
    private KetquaModel? ketqua = new KetquaModel();
    private bool isHKDN;
    private double sum = 0;
    private double diemauto = 9;

    protected override void OnInitialized()
    {
        api = Configuration["apiBackend"];
        idSv = Cipher.Decrypt(idSv);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            currentUser = await Service.GetUser(JS, NavigationManager);
            madot = currentUser.MaDot;

            await RenderDatas();
            StateHasChanged();
        }
    }

    private async Task RenderDatas()
    {
        ketqua = await GetDiemSinhVien(idSv);
        StateHasChanged();
        TinhTongDiem();

        SinhvienModel result = await GetSinhVien(idSv);
        if (result != null)
        {
            sinhvien = result;
            StateHasChanged();
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "Sinh viên not found.");
        }
    }

    private async Task AutoFillDiem()
    {
        ketqua.tieuchi1 = (float?)Math.Round( 1 * diemauto / 10, 1);
        ketqua.tieuchi2 = (float?)Math.Round( 1.5 * diemauto / 10, 1);
        ketqua.tieuchi4 = (float?)Math.Round( 1 * diemauto / 10, 1);
        ketqua.tieuchi5 = (float?)Math.Round( 1 * diemauto / 10, 1);
        ketqua.tieuchi6 = (float?)Math.Round( 0.5 * diemauto / 10, 1);
        ketqua.tieuchi3 = (float?)Math.Round((decimal)(diemauto - ketqua.tieuchi1 - ketqua.tieuchi2 - ketqua.tieuchi4 - ketqua.tieuchi5 - ketqua.tieuchi6), 1);
        StateHasChanged();
        TinhTongDiem();
    }

    private async Task TinhTongDiem()
    {
        sum = (double)((ketqua.tieuchi1 ?? 0) + (ketqua.tieuchi2 ?? 0) + (ketqua.tieuchi3 ?? 0) + (ketqua.tieuchi4 ?? 0) + (ketqua.tieuchi5 ?? 0) + (ketqua.tieuchi6 ?? 0) + (ketqua.tieuchi7 ?? 0));
        isHKDN = await IsHKDN(idSv);
        sum = isHKDN ? (double)(sum * 0.6 + (ketqua.diemDN ?? 0) * 0.4) : sum;
        sum = sum > 10 ? 10 : sum;
        StateHasChanged();
    }

    private async Task<SinhvienModel> GetSinhVien(string mssv)
    {
        var response = await Http.GetAsync(api + $"Sinhvien/{mssv}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var uploadModel = JsonConvert.DeserializeObject<SinhvienModel>(content);
            return uploadModel;
        }
        else
        {
            Console.WriteLine($"Error retrieving sinh viên: {response.StatusCode}");
            return null;
        }
    }

    private async Task<KetquaModel> GetDiemSinhVien(string mssv)
    {
        var response = await Http.GetAsync(api + $"Ketqua/sinhvien?madot={madot}&mssv={mssv}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var uploadModel = JsonConvert.DeserializeObject<KetquaModel>(content);
            return uploadModel;
        }
        else
        {
            Console.WriteLine($"Error retrieving sinh viên: {response.StatusCode}");
            return null;
        }
    }

    private async Task<bool> IsHKDN(string mssv)
    {
        string url = api + $"Phancong/kiemtra?madot={madot}&mssv={mssv}";
        HttpResponseMessage response = await Http.GetAsync(url);
        
        string responseBody = await response.Content.ReadAsStringAsync();
        return responseBody == "true";        
    }

    private async Task SubmitScores(string mssv)
    {
        var response = await Http.PutAsJsonAsync(api + $"Ketqua/diem?madot={madot}&mssv={mssv}", ketqua);

        if (response.IsSuccessStatusCode)
        {
            await JS.InvokeVoidAsync("alert", "Lưu điểm thành công");
            NavigationManager.NavigateTo("/diem");
        }
        else
        {
            Console.WriteLine("Đã xảy ra lỗi khi gửi điểm!");
        }
    }

}


<PageTitle>Chấm điểm</PageTitle>

<CheckUserComponent CheckRole="teacher" CheckDot=2>
<ItemContent>


<div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg">
    <div
        class="bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5">
        <div class="w-full mb-5">
            <div class="mb-4">
                <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl">Chấm điểm</h1>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-6 gap-6 mb-4">
        <div class="col-span-6 sm:col-span-3">
            <label class="block mb-2 text-sm font-medium text-gray-900">
                Mã sinh viên
            </label>
            <p class="shadow-sm border border-gray-300 text-gray-900 sm:text-base rounded-lg block w-full p-2.5">
                @sinhvien.mssv
            </p>
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label class="block mb-2 text-sm font-medium text-gray-900">
                Họ tên
            </label>
            <p class="shadow-sm border border-gray-300 text-gray-900 sm:text-base rounded-lg block w-full p-2.5">
                @sinhvien.ho  @sinhvien.ten
            </p>
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label class="block mb-2 text-sm font-medium text-gray-900">
                Lớp
            </label>
            <p class="shadow-sm border border-gray-300 text-gray-900 sm:text-base rounded-lg block w-full p-2.5">
                @sinhvien.malop 
            </p>
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label for="diemauto"
                class="block mb-2 text-sm font-medium text-gray-900">Chấm điểm tự động</label>

            <div class="w-full flex">
                <input 
                    type="number" step="0.1" max="10" min="0" name="diemauto" id="diemauto" required
                    @bind ="diemauto" 
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-base rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-2/3 mr-2 p-2.5">

                <button class="w-1/3 inline-flex items-center justify-center px-1 py-2 text-sm font-medium text-center text-teal-700 hover:text-white rounded-lg border border-teal-700 hover:bg-teal-700 focus:bg-teal-700 focus:text-white"
                    @onclick="() => AutoFillDiem()"
                    >
                    <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z">
                        </path>
                        <path fill-rule="evenodd"
                            d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span>Điền điểm</span>
                </button>
            </div>

        </div>
    </div>

    <div class="flex flex-col mt-8">
        <div class="overflow-x-auto">
            <div class="inline-block min-w-full align-middle">
                <div class="overflow-hidden shadow">
                    <table class="min-w-full divide-y divide-gray-200 table-fixed w-100">
                        <thead class="bg-gray-100">
                            <tr>
                                <th scope="col"
                                    class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                    STT
                                </th>
                                <th scope="col"
                                    class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                    Tiêu chí
                                </th>
                                <th scope="col"
                                    class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                    Điểm
                                </th>
                                <th scope="col"
                                    class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                    Điểm tối đa
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            <tr class="hover:bg-gray-100">
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    1
                                </td>
                                <td class="break-word p-4 text-base font-medium text-gray-900">
                                    Về vấn đề được đặt ra hay mục tiêu 
                                    (dựa trên có hay không, tính rõ ràng, tính hợp thời, tính mức độ cấp thiết, tính mức độ phức tạp,…)
                                </td>
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    <input type="number" step="0.1" max="1" min="0" @bind-value="@ketqua.tieuchi1" name="tieuchi1" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-base rounded-lg focus:ring-teal-600 focus:border-teal-600 block w-20 text-center py-2.5"
                                        @bind-value:event="oninput" @onchange="TinhTongDiem" required>
                                </td>
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    1</td>
                            </tr>

                            <tr class="hover:bg-gray-100">
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    2
                                </td>
                                <td class="break-word p-4 text-base font-medium text-gray-900">
                                    Phương pháp giải quyết vấn đề hay phương pháp để đạt mục tiêu:<br>
                                    + Rõ ràng và hợp lý | đúng.<br>
                                    + Mức độ áp dụng kiến thức ngành đã học | tự học.<br>
                                    + Hợp thời đại | thiết thực.
                                </td>
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    <input type="number" step="0.1" max="1.5" min="0" @bind-value="@ketqua.tieuchi2"   name="tieuchi1" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-base rounded-lg focus:ring-teal-600 focus:border-teal-600 block w-20 text-center py-2.5"
                                        @bind-value:event="oninput" @onchange="TinhTongDiem" required>
                                </td>
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    1.5</td>
                            </tr>

                            <tr class="hover:bg-gray-100">
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    3
                                </td>
                                <td class="break-word p-4 text-base font-medium text-gray-900">
                                    Kỹ năng giải quyết vấn đề và kết quả đạt được so với mục tiêu, gồm:<br>
                                    + Kỹ năng phân tích nghiệp vụ<br>
                                    + Kỹ năng phân tích mô hình | hệ thống | giải pháp.<br>
                                    + Kỹ năng thiết kế mô hình | hệ thống | giải pháp.<br>
                                    + Kỹ năng thiết kế dữ liệu.<br>
                                    + Kỹ năng thu thập và phân tích dữ liệu.<br>
                                    + Kỹ năng lập trình.<br>
                                    + Kỹ năng sử dụng, vận dụng các công cụ công nghệ giải quyết các vấn đề.<br>
                                    + Kỹ năng lập kế hoạch và chiến lược công nghệ.<br>
                                    + …<br>
                                    (Ít nhất phải thể hiện được 3 kỹ năng, mỗi kỹ năng tối đa được 3 điểm)
                                </td>
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    <input type="number" step="0.1" max="5" min="0" @bind-value="@ketqua.tieuchi3" name="tieuchi1" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-base rounded-lg focus:ring-teal-600 focus:border-teal-600 block w-20 text-center py-2.5"
                                        @bind-value:event="oninput" @onchange="TinhTongDiem" required>
                                </td>
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    5</td>
                            </tr>

                            <tr class="hover:bg-gray-100">
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    4
                                </td>
                                <td class="break-word p-4 text-base font-medium text-gray-900">
                                    Mức độ kết quả đạt được so với mục tiêu đã đề ra
                                </td>
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    <input type="number" step="0.1" max="1" min="0" @bind-value="@ketqua.tieuchi4" name="tieuchi1" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-base rounded-lg focus:ring-teal-600 focus:border-teal-600 block w-20 text-center py-2.5"
                                        @bind-value:event="oninput" @onchange="TinhTongDiem" required>
                                </td>
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    1</td>
                            </tr>

                            <tr class="hover:bg-gray-100">
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    5
                                </td>
                                <td class="break-word p-4 text-base font-medium text-gray-900">
                                    Cách thức trình bày nội dung
                                </td>
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    <input type="number" step="0.1" max="1" min="0" @bind-value="@ketqua.tieuchi5" name="tieuchi1" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-base rounded-lg focus:ring-teal-600 focus:border-teal-600 block w-20 text-center py-2.5"
                                        @bind-value:event="oninput" @onchange="TinhTongDiem" required>
                                </td>
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    1</td>
                            </tr>

                            <tr class="hover:bg-gray-100">
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    6
                                </td>
                                <td class="break-word p-4 text-base font-medium text-gray-900">
                                    Tuân thủ quy định làm thực tập tốt nghiệp (dựa trên thái độ, hành vi, tính chuyên cần, …)
                                </td>
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    <input type="number" step="0.1" max="1" min="0" @bind-value="@ketqua.tieuchi6" name="tieuchi1" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-base rounded-lg focus:ring-teal-600 focus:border-teal-600 block w-20 text-center py-2.5"
                                        @bind-value:event="oninput" @onchange="TinhTongDiem" required>
                                </td>
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    0.5</td>
                            </tr>

                            <tr class="hover:bg-gray-100">
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    7
                                </td>
                                <td class="break-word p-4 text-base font-medium text-gray-900">
                                    Điểm cộng thêm cho một số trường hợp đặc biệt:<br>
                                    + Bài mang tính mới, giải quyết được và cho kết quả chấp nhận được.<br>
                                    + Có bài báo được đăng trên các tạp chí khoa học.

                                </td>
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    <input type="number" step="0.1" max="0.5" min="0" @bind-value="@ketqua.tieuchi7" name="tieuchi1" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-base rounded-lg focus:ring-teal-600 focus:border-teal-600 block w-20 text-center py-2.5"
                                        @bind-value:event="oninput" @onchange="TinhTongDiem" required>
                                </td>
                                <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                    1</td>
                            </tr>

                            @if(isHKDN)
                            {
                                <tr class="hover:bg-gray-100">
                                    <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                        8
                                    </td>
                                    <td class="break-word p-4 text-base font-medium text-gray-900">
                                        Điểm doanh nghiệp chấm<br>
                                        

                                    </td>
                                    <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                        <input type="number" step="0.1" max="10" min="0" @bind-value="@ketqua.diemDN" name="tieuchi1" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-base rounded-lg focus:ring-teal-600 focus:border-teal-600 block w-full py-2.5 px-6"
                                            @bind-value:event="oninput" @onchange="TinhTongDiem" required>
                                    </td>
                                    <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                        10</td>
                                </tr>
                            } 
                        </tbody>

                        <tfoot>
                            <tr class="font-semibold text-gray-900 dark:text-white">
                                <td class="px-6 py-3"></td>
                                <td class="px-6 py-3">Tổng điểm</td>
                                <td class="px-6 py-3 flex justify-center">@Math.Round(sum,2)</td>
                                <td class="px-6 py-3"></td>
                            </tr>
                        </tfoot>

                    </table>
                    <div class="col-span-6 mt-6 sm:col-full p-2">
                        <button @onclick="() => SubmitScores(idSv)" class="text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:ring-teal-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">
                            Lưu điểm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>

</ItemContent>
</CheckUserComponent>
