@page "/sinhvien/{idSv}"
@using UehInternFrontend.Components
@inject IJSRuntime JS
@inject HttpClient Http
@inject IConfiguration Configuration
@using Newtonsoft.Json

@code {
    [Parameter] public string idSv { get; set; }

    private SinhvienModel? sinhvien = new SinhvienModel();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            await RenderDatas();
            StateHasChanged();
        }
    }

    private async Task RenderDatas()
    {
        SinhvienModel result = await GetSinhVien(idSv);
        if (result != null)
        {
            sinhvien = result;
            StateHasChanged();
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "Sinh viên not found.");
        }
    }

    private async Task<SinhvienModel> GetSinhVien(string mssv)
    {
        var response = await Http.GetAsync($"https://localhost:7000/api/Sinhvien/{mssv}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var uploadModel = JsonConvert.DeserializeObject<SinhvienModel>(content);
            return uploadModel;
        }
        else
        {
            Console.WriteLine($"Error retrieving sinh viên: {response.StatusCode}");
            return null;
        }
    }


}

<PageTitle>Chi tiết sinh viên</PageTitle>

<CheckUserComponent CheckRole="giangvien">
<ItemContent>


<div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg">
    <div
        class="bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5">
        <div class="w-full mb-5">
            <div class="mb-4">
                <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl">Thông tin sinh viên</h1>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-6 gap-6 mb-4">
        <div class="col-span-6 sm:col-span-3">
            <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900">
                Mã sinh viên
            </label>
            <p class="shadow-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5">
                @sinhvien.mssv
            </p>
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900">
                Họ tên
            </label>
            <p class="shadow-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5">
                @sinhvien.ho  @sinhvien.ten
            </p>
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label for="birthday" class="block mb-2 text-sm font-medium text-gray-900">
                Lớp
            </label>
            <p class="shadow-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5">
                @sinhvien.thuoclop

            </p>
        </div>
        <div class="col-span-6 sm:col-span-3">
            <label for="birthday" class="block mb-2 text-sm font-medium text-gray-900">
                Khoá
            </label>
            <p class="shadow-sm border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5">
                @sinhvien.khoagoc
            </p>
        </div>
    </div>
</div>


</ItemContent>
</CheckUserComponent>
