@page "/sinhvien"

@code {
    public string? api;
    protected override void OnInitialized()
    {
        api = Configuration["apiBackend"];
    }

    List<SinhVienInfo>? sinhviens = new List<SinhVienInfo>();
    private string? magv = "";
    private string? madot = "";
    protected int? DotInfo = -1;

    private User? currentUser;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentUser = await Service.GetUser(JS, NavigationManager);
            madot = currentUser.MaDot;
            magv = currentUser.Code;
            DotInfo = currentUser.DotInfo;
            StateHasChanged();

            if (DotInfo == 1) {
                NavigationManager.NavigateTo("/dangkysom");
            }

            if (DotInfo == 2) {
                await RenderDatas();
            }

            StateHasChanged();
        }
    }

    private async Task RenderDatas()
    {
        var result = await SinhVienByGiangVien(madot,magv);
        if (result != null )
        {
            sinhviens = result;
            StateHasChanged();
        }
        else
        {
            await JS.InvokeVoidAsync("alert", "Không tìm thấy sinh viên.");
        }
    }

    private async Task<List<SinhVienInfo>> SinhVienByGiangVien(string madot,string magv)
    {
        var response = await Http.GetAsync(api + $"Giangvien/SinhVienByGiangVien?madot={madot}&magv={magv}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var uploadModel = JsonConvert.DeserializeObject<List<SinhVienInfo>>(content);
            return uploadModel;
        }
        else
        {
            Console.WriteLine($"Lỗi khi truy xuất sinh viên: {response.StatusCode}");
            return null;
        }
    }
}

<PageTitle>Danh sách sinh viên</PageTitle>

<CheckUserComponent CheckRole="teacher">
<ItemContent>

@if (DotInfo == 2)
{
    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg">
        <div
            class="bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5">
            <div class="w-full mb-5">
                <div class="mb-3">
                    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl">Danh sách sinh viên</h1>
                </div>
            </div>
        </div>
        <div class="flex flex-col">
            <div class="overflow-x-auto">
                <div class="inline-block min-w-full align-middle">
                    <div class="overflow-hidden shadow">
                        <table class="min-w-full divide-y divide-gray-200 table-fixed">
                            <thead class="bg-gray-100">
                                <tr>
                                    <th scope="col"
                                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                        Sinh viên
                                    </th>
                                    <th scope="col"
                                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                        Mã sinh viên
                                    </th>
                                    <th scope="col"
                                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                        Lớp
                                    </th>
                                    <th scope="col"
                                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                        Hành động
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                            @if (sinhviens != null)
                            { 
                                @foreach (var sinhvien in sinhviens)
                                {
                                        <tr class="hover:bg-gray-100">
                                        <td class="flex items-center p-4 mr-12 space-x-6 whitespace-nowrap">
                                            <div class="text-sm font-normal text-gray-500">
                                                <div class="text-base font-semibold text-gray-900">@sinhvien.ho @sinhvien.ten
                                                </div>
                                                    @if (sinhvien.email == null)
                                                    {
                                                        <div class="text-sm font-normal text-gray-500">
                                                            Email chưa được cập nhật
                                                        </div>
                                                    }
                                                    <div class="text-sm font-normal text-gray-500">
                                                        @sinhvien.email
                                                    </div>
                                            </div>
                                        </td>
                                        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                            @sinhvien.mssv
                                        </td>
                                        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                            @sinhvien.malop</td>
                                        <td class="p-4 space-x-2 whitespace-nowrap">
                                            <a href="/sinhvien/@sinhvien.mssv"
                                                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:ring-teal-300">
                                                <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M20 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zM4 19V5h16l.002 14H4z">
                                                    </path>
                                                    <path d="M6 7h12v2H6zm0 4h12v2H6zm0 4h6v2H6z"></path>
                                                </svg>
                                                Chi tiết
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="sticky bottom-0 right-0 items-center w-full py-4 -mb-4 bg-white border-t border-gray-200 sm:flex sm:justify-between">
            <div class="flex items-center mb-4 sm:mb-0">
                <span class="text-sm font-normal text-gray-500">
                    Hiển thị 
                    <span class="font-semibold text-gray-900">@sinhviens.Count</span>
                    sinh viên
                </span>
            </div>
        </div>
    </div>
}

@if (DotInfo == 0)
{
    <Error Type="PeriodNotOpen" />
}

</ItemContent>
</CheckUserComponent>
