@page "/sinhvien/danhsach"

@code{

    public string? api;

    private DotModel dot = new DotModel();
    private int page = 1;
    private int itemsPerPage = 15;
    private string madot ="";
    private string makhoa = "";
    private long maxFileSize = long.MaxValue;
    private int maxAllowedFiles = int.MaxValue;
    private List<SinhVienInfo>? sinhviens = new List<SinhVienInfo>();


    protected override void OnInitialized()
    {
        api = Configuration["apiBackend"];
    }

    private User? currentUser;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentUser = await Service.GetUser(JS, NavigationManager);
            makhoa = currentUser.MaKhoa;
            madot = currentUser.MaDot;
            StateHasChanged();

            await RenderDatas();
        }
    }

    private async Task RenderDatas()
    {
        var result = await GetDssvByKhoa(madot, makhoa);
        if (result != null )
        {
            sinhviens = result;
            StateHasChanged();
        }
        else
        {
            //await JS.InvokeVoidAsync("alert", "Sinh viên không được tìm thấy.");
        }
    }
    private async Task<List<SinhVienInfo>> GetDssvByKhoa(string madot, string makhoa)
    {
        var response = await Http.GetAsync(api + $"Sinhvien/dssv?madot={madot}&makhoa={makhoa}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var uploadModel = JsonConvert.DeserializeObject<List<SinhVienInfo>>(content);
            return uploadModel;
        }
        else
        {
            Console.WriteLine($"Lỗi khi truy xuất sinh viên: {response.StatusCode}");
            return null;
        }
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        var files = e.GetMultipleFiles(maxAllowedFiles);
        using var content = new MultipartFormDataContent();

        foreach (var file in files)
        {
            var fileContent = new StreamContent(file.OpenReadStream(maxFileSize));
            fileContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);

            content.Add(fileContent, "formFile", file.Name);
        }


        var apiUrl = api + $"Sinhvien/formFile?madot={madot}&makhoa={makhoa}";
        var response = await Http.PostAsync(apiUrl, content);
        if (!response.IsSuccessStatusCode)
        {
            await JS.InvokeVoidAsync("alert", "File not found.");
        }
        response.EnsureSuccessStatusCode();
        RenderDatas();
    }

    private async Task ChangePage(int status)
    {
        int totalPages = (int)Math.Ceiling((double)sinhviens.Count / itemsPerPage);

        if (status==-1 && page > 1) page--;
        if (status==1 && page < totalPages) page++;
        StateHasChanged();
    }


    private async Task<GiangvienRequest> GetThongTinSinhVien(string magv)
    {
        var response = await Http.GetAsync(api + $"Giangvien/GetThongtinGiangvien?magv={magv}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var uploadModel = JsonConvert.DeserializeObject<GiangvienRequest>(content);
            return uploadModel;
        }
        else
        {
            Console.WriteLine($"Không tìm thấy : {response.StatusCode}");
            return null;
        }
    }

    private string keyword;

    private async Task SubmitSearch()
    {
        var response = await Http.GetAsync(api + $"Sinhvien/Search?madot={madot}&keyword={keyword}");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var uploadModel = JsonConvert.DeserializeObject<List<SinhVienInfo>>(content);
            sinhviens = uploadModel;
        }
        else
        {
            Console.WriteLine($"Không tìm thấy : {response.StatusCode}");
        }
    }

}

<PageTitle>Danh sách sinh viên</PageTitle>

<CheckUserComponent CheckRole="admin" CheckDot=1>
<ItemContent>

<div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg">
<div
    class="bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5">
    <div class="w-full mb-5">
        <div class="mb-4">
            <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl">Danh sách sinh viên</h1>
        </div>
        <div class="sm:flex">
            <div class="items-center hidden mb-3 sm:flex sm:divide-x sm:divide-gray-100 sm:mb-0">
                <form class="lg:pr-3" @onsubmit="SubmitSearch">
                    <label for="users-search" class="sr-only">Search</label>
                    <div class="relative mt-1 lg:w-64 xl:w-96">
                        <input type="text" name="email" id="search-input"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5"
                            placeholder="Tìm kiếm" @bind="keyword">
                    </div>
                </form>
            </div>

            <div class="flex items-center ml-auto space-x-2 sm:space-x-3">
                <label for="actual-btn" type="button" 
                    class="inline-flex items-center justify-center w-1/2 px-3 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-teal-300 sm:w-auto">
                    <svg class="w-5 h-5 mr-2 -ml-1" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span>Nhập file</span>
                    <InputFile id="actual-btn" class="hidden" OnChange="@OnInputFileChange" multiple />
                </label>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-col">
    <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden shadow">
                <table class="min-w-full divide-y divide-gray-200 table-fixed">
                    <thead class="bg-gray-100">
                        <tr>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                Sinh viên
                            </th>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                Mã sinh viên
                            </th>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase">
                                Lớp
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        @if (sinhviens.Count > 0)
                        { 
                            @for (int i = (page - 1) * itemsPerPage; i < page * itemsPerPage && i < sinhviens.Count; i++)
                            {
                                var sinhvien = sinhviens[i];
                                
                                <tr class="hover:bg-gray-100">
                                    <td class="flex items-center p-4 mr-12 space-x-6 whitespace-nowrap">
                                        <div class="text-sm font-normal text-gray-500">
                                            <div class="text-base font-semibold text-gray-900">@sinhvien.ho @sinhvien.ten
                                            </div>
                                            @if(sinhvien.email == null)
                                            {
                                                    <div class="text-sm font-normal text-gray-500">
                                                Email chưa được cập nhật</div>
                                            }
                                            <div class="text-sm font-normal text-gray-500">
                                            @sinhvien.email   </div>
                                        </div>
                                    </td>
                                    <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                        @sinhvien.mssv</td>
                                    <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">
                                        @sinhvien.malop</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div
    class="sticky bottom-0 right-0 items-center w-full py-4 -mb-4 bg-white border-t border-gray-200 sm:flex sm:justify-between">
    <div class="flex items-center mb-4 sm:mb-0">

        @if (sinhviens.Count == 0)
        {
            <span class="text-sm font-normal text-gray-500">
                Hiển thị 
                <span class="font-semibold text-gray-900">0</span>
                sinh viên
            </span>
        }
        else
        {
            <button @onclick="() => ChangePage(-1)"
                class="inline-flex justify-center p-1 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100">
                <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
            <button @onclick="() => ChangePage(1)"
                class="inline-flex justify-center p-1 mr-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100">
                <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
            <span class="text-sm font-normal text-gray-500">
                Hiển thị 
                <span class="font-semibold text-gray-900">
                    @((page - 1) * itemsPerPage + 1) - 
                    @(page * itemsPerPage > @sinhviens.Count ? @sinhviens.Count : page * itemsPerPage)
                </span> trong số 
                <span
                class="font-semibold text-gray-900">
                    @sinhviens.Count
                </span> sinh viên
            </span>
        }
    </div>
</div>

</div>

</ItemContent>
</CheckUserComponent>


